<form id="userProfileInterestsForm" action="/profile/interests/create" method="POST">
    interests
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="mname">Middle Name:</label>
        <input type="text" id="mname" name="user_mname">
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="user_lname">
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_mail">
    </div>
    <div>
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="user_dob">
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
    <div class="button">
        <button type="submit">INTERESTS</button>
    </div>
</form>
