<form id="userProfileForm" action="/profile/create" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="mname">Middle Name:</label>
        <input type="text" id="mname" name="user_mname">
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="user_lname">
    </div>
    <div>
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="user_dob">
    </div>
    <div class="button">
        <button class="profileButtonSignUp" type="submit">Next</button>
    </div>
</form>
