<form id="userSurvey" action="/survey/create" method="POST">
    <ol>
        <li>
            <div>
                <label for="1" class="survey">Are you married?</label>
                <div>
                     <input style="width:5vw;" name="answer1" type="radio" value="1" />Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer1" type="radio" value="0"/>No
                </div>
            </div>
        </li> 
        <li>
            <div>
                <label for="2" class="survey">If you are not married, have you ever been married?</label>
                <div>
                     <input style="width:5vw;" name="answer2" type="radio" value="1" />Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer2" type="radio" value="0"/>No
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="3" class="survey">What are you looking for in online dating?(Please check off all that apply)</label>
                <div>
                     <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>Friendship
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>Long Term Relationship
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>Intimate Relationship
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>Shared Interest
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>No strings Flings
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>Short Term Relationship
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>True Love
                </div>
                <div>
                    <input style="width:5vw;" name="answer3" type="checkbox" value="1"/>Marriage
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="4" class="survey">How many past relationships have you been in?</label>
                <div>
                     <input style="width:5vw;" name="answer4" type="radio" value="0"/>0
                </div>
                <div>
                    <input style="width:5vw;" name="answer4" type="radio" value="1"/>1-3
                </div>
                <div>
                     <input style="width:5vw;" name="answer4" type="radio" value="2"/>4-7
                </div>
                <div>
                    <input style="width:5vw;" name="answer4" type="radio" value="3"/>8+
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="5" class="survey">What is the longest term relationship you have ever been in?</label>
                <div>
                     <input style="width:5vw;" name="answer5" type="radio" value="1" />Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer5" type="radio" value="0"/>No
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="6" class="survey">Have you ever given a relationship a second chance?</label>
                <div>
                     <input style="width:5vw;" name="answer6" type="radio" value="1" />Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer6" type="radio" value="0"/>No
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="7" class="survey">Do you have an ideal age you want to be in a serious relationship and or married by?</label>
                <div>
                     <input style="width:5vw;" name="answer7" type="radio" value="1" />Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer7" type="radio" value="0"/>No
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="8" class="survey">If yes, what age is it?</label>
                <div>
                     <input style="width:5vw;" name="answer8" type="radio" value="1" />Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer8" type="radio" value="0"/>No
                </div>
            </div>
        </li>
        <li>
            <div>
                <label for="9" class="survey">How do you spend your free time?  (please check off all that apply)</label>
                <div>
                     <input style="width:5vw;" name="answer9" type="radio" value="1"/>Yes
                </div>
                <div>
                    <input style="width:5vw;" name="answer9" type="radio" value="0"/>No
                </div>
            </div>
        </li>
        <div class="button">
            <button type="submit">Next</button>
        </div>
    </ol>
</form>

