html {
    background-image: url("../img/maxresdefault.jpg");
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/maxresdefault.jpg");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;

}
.headerh1 {
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    opacity: 25%;
    text-align: center;
    vertical-align: bottom;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 6vw;
    font-size: 5vw;
    font-family: fantasy;
    color: rgba(19, 160, 49, 0.493);
    display: inline-block;

}

.headerh1 {
    padding-top: 5vw;
}

h5 {
    text-align: center; 
    font-size: 1vw;
    font-family: fantasy;
    color: rgb(0, 0, 0); 
    font-weight: bolder;
}  
li { 
    list-style:none 
}
.toBeDevoured {
    padding-left: 25vw;
    width: 30vw;
    height: 27vw;
    float: left;
    font-family: fantasy;
    color: white;
    font-size: 1.2vw;
    font-weight: bolder;
    background-color: rgba(226, 226, 205, 0.162);
    overflow: scroll;
}
.toBeReturned {
    padding-right: 15vw;
    width: 30vw;
    height: 27vw;
    float: left;
    font-family: fantasy;
    color: white;
    font-size: 1.2vw;
    font-weight: bolder;
    background-color: rgba(226, 226, 205, 0.162);
    overflow: scroll;
}

.theSubmit {
    display: inline-block;
    width:100%;
    text-align: center;
}

#toEat {
    width:10vw;
    height:2vw;
    border-radius: 5%;
    vertical-align: middle;
    background-color: rgba(29, 169, 179, 0.575);
    text-align: center;
    font-size: 0.8vw;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#toReturn {
    width:10vw;
    height:2vw;
    border-radius: 5%;
    vertical-align: middle;
    background-color: rgba(179, 29, 29, 0.575);
    text-align: center;
    font-size: 0.8vw;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 80vw;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 20vw;
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 50vw;
    box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }
  
  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
  
    /* To give enough room to type some text */
    height: 5em;
  }
  
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 40vw;
  }

 .survey {
    width: 20vw;
    text-align: left;
  }
  .searchedMatch {
    width: 60vw;
    height: 25vh;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .matchPicture {
    width: 10vw;
    height: 23vh;  
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    float: left;
  }

  .matchDescription {
    width: 30vw;
    height: 23vh;  
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    float: left;
  }

  .matchGoal {
    width: 20vw;
    height: 23vh;  
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    float: left;
  }

  .goalButton {
    width:95%;
    height: 95%;
    padding-left:0px;
    margin-left:0px;
    background-color: rgba(228, 18, 46, 0.52);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
  }

  .loginButton {
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(18, 133, 228, 0.52);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0vw;
    margin-right: 12vw;
    float: right;
    
  }

  .searchButton {
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(228, 84, 18, 0.52);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0vw;
    margin-right: 1vw;
    float: right;
  }

  .profileButton {
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(18, 228, 182, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0vw;
    margin-right: 1vw;
    float: right;
  }
  .action {
    width: 20vw;
    height: 23vh;  
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    float: left;
  }

  .finishButton {
    width:45%;
    height: 55%;
    padding-left:0px;
    margin-left:0px;
    background-color: rgba(0, 255, 76, 0.52);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
  }

  .cancelButton {
    width:45%;
    height: 55%;
    padding-left:0px;
    margin-left:0px;
    background-color: rgba(255, 0, 34, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
  }

  .login {
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(18, 228, 36, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 40vw;
    margin-right: 1vw;
  } 

  .signup {
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(18, 228, 36, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 40vw;
    margin-right: 1vw;
  } 

  .finishedSurvey {
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(18, 228, 36, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 40vw;
    margin-right: 1vw;
  } 

  .profileButtonSignUp {
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(18, 228, 36, 0.589);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 40vw;
    margin-right: 1vw;
  } 